$font-gray: #777;
$font-dark: #000;

$background-grey-light: #f4f4f4;

// Social Colors:
$twitter: #00acee;
$facebook: #128af0;
$instagram: #c13584;
$github: #9c44a9;
$linkedin: #0e86a8;
$youtube: #c4302b;
